# args and kwargs

In [1]:
def add(x, y): 
    return x + y

In [2]:
add(3, 6)

9

In [3]:
total = add(8, 6)

In [4]:
total

14

In [10]:
def add(*args):
    print(args)
    print(type(args))

In [11]:
add(1, 2, 4, 3, 5, 6, 7, 8, 9, 10)

(1, 2, 4, 3, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [12]:
def add(*args):
    total = 0
    for items in args:
        total = total + items
    return total

In [13]:
add(1, 2, 4, 3, 5, 6, 7, 8, 9, 10)

55

In [17]:
def even_number_sum(*args):
    even_total = 0
    
    for items in args:
        if items % 2 == 0:
            even_total = even_total + items
    return even_total

In [18]:
even_number_sum(1, 2, 4, 3, 5, 6, 7, 8, 9, 10)

30

# YIELD

# kwargs

In [21]:
def display(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [23]:
display(name = 'sijan', age = 22, gender = 'm')

{'name': 'sijan', 'age': 22, 'gender': 'm'}
<class 'dict'>

In [24]:
display(1, 2, 3)

TypeError: display() takes 0 positional arguments but 3 were given

In [27]:
def display(**kwargs):
    print(kwargs.get('name'))
    print(kwargs['age'])

In [28]:
display(name = 'sijan', age = 22, gender = 'm')

sijan
22