In [1]:
txt = "Leonel Messi is a GOAT."
txt[0:6]

'Leonel'

In [2]:
txt[0:]

'Leonel Messi is a GOAT.'

In [3]:
txt[:7]

'Leonel '

In [4]:
txt[0:7:2]

'Loe '

# string methods

In [21]:
name = "$ijan"

In [22]:
name

'$ijan'

In [23]:
name[0]="s" # strings are immutable...(cannot change value)

TypeError: 'str' object does not support item assignment

# .replace() method

In [24]:
name

'$ijan'

In [26]:
name = name.replace('$','S') # replaces every occurance.

In [27]:
name

'Sijan'

# .upper() and .lower() method.

In [29]:
msg = input("Enter a Message: ")
msg = msg.lower()

Enter a Message: HI MY NAME IS SIJAN

'hi my name is sijan'

In [30]:
msg

'HI MY NAME IS SIJAN'

In [31]:
msg = input("Enter a Message: ")
msg = msg.upper()

Enter a Message: hi my name is

In [32]:
msg

'HI MY NAME IS '

# .split() method in string

In [33]:
txt = "Mbappe is a legend."

In [36]:
words = txt.split(" ")

In [37]:
print(words)

['Mbappe', 'is', 'a', 'legend.']

In [38]:
type(words)

list

# .strip(), .lstripe(), .rstripe()

In [39]:
text = " This is fun "

In [41]:
text.strip() # removes spaces from left and right.

'This is fun'

In [44]:
text.lstrip() # removes spaces in the left.

'This is fun '

In [45]:
text.rstrip() # removes spaces in the right.

' This is fun'

# .join() method in string

In [53]:
txt = "I love football."

In [54]:
txt

'I love football.'

In [55]:
txt = txt.split()

In [56]:
txt

['I', 'love', 'football.']

In [57]:
" ".join(txt)

'I love football.'