# Dictionary:

**Syntax:

```python
{
'key': value
}

d = {}

In [2]:
type(d)

dict

In [3]:
d = dict()

In [4]:
type(d)

dict

In [8]:
# list, tuples, sets are not allowed as keys
d = {[1, 2] : 20} # not allowed

TypeError: unhashable type: 'list'

In [9]:
{
    'name' : 'sijan',
    'age' : 22
}

{'name': 'sijan', 'age': 22}

# Accessing dictionary items and add key value pair in dictionary

In [10]:
info = dict()

In [11]:
info

{}

In [12]:
info['name'] = 'Sijan Shrestha' # Add key value pair in dictionary

In [13]:
info

{'name': 'Sijan Shrestha'}

In [14]:
info.update({'learns': ['python', 'django', 'data science', 'AI', 'machine learning']})

In [15]:
info

{'name': 'Sijan Shrestha',
 'learns': ['python', 'django', 'data science', 'AI', 'machine learning']}

In [18]:
info['learns']

['python', 'django', 'data science', 'AI', 'machine learning']

In [21]:
info.update({'name': 'SIJAN SHRESTHA'}) # if key exists then update value

In [22]:
info

{'name': 'SIJAN SHRESTHA',
 'learns': ['python', 'django', 'data science', 'AI', 'machine learning']}

In [23]:
info['learns'] # access values of key learns

['python', 'django', 'data science', 'AI', 'machine learning']

In [25]:
info.get('learns') # access values of key learns

['python', 'django', 'data science', 'AI', 'machine learning']

In [27]:
broadway = {
    'location': 'Tinkune'
}

In [28]:
broadway

{'location': 'Tinkune'}

In [30]:
broadway.update({'class': 'Python'})

In [32]:
broadway

{'location': 'Tinkune', 'class': 'Python'}

In [33]:
broadway.get('location')

'Tinkune'

# .keys() and .values() method in dictionary

In [36]:
country = {
    'Nepal': 'Kathmandu',
    'India': 'New Delhi',
    'Bangladesh': 'Dhaka',
    'Bhutan': 'Thimpu'
}

In [37]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'Bhutan': 'Thimpu'}

In [38]:
country.keys()

dict_keys(['Nepal', 'India', 'Bangladesh', 'Bhutan'])

In [39]:
country.values()

dict_values(['Kathmandu', 'New Delhi', 'Dhaka', 'Thimpu'])

In [40]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New Delhi'), ('Bangladesh', 'Dhaka'), ('Bhutan', 'Thimpu')])

In [43]:
list(country.items())[0]

('Nepal', 'Kathmandu')

# looping in dictionary

In [44]:
country = {
    'Nepal': 'Kathmandu',
    'India': 'New Delhi',
    'Bangladesh': 'Dhaka',
    'Bhutan': 'Thimpu'
}

In [49]:
for cou, cap in country.items():
    print(f"Country = {cou} and Capital = {cap}")

Country = Nepal and Capital = Kathmandu
Country = India and Capital = New Delhi
Country = Bangladesh and Capital = Dhaka
Country = Bhutan and Capital = Thimpu

In [50]:
for items in country:
    print(f"{items} = {country.get(items)}")

Nepal = Kathmandu
India = New Delhi
Bangladesh = Dhaka
Bhutan = Thimpu

In [51]:
car = {'name': 'Tesla', 'color': 'white', 'category': 'electric'}

In [52]:
car

{'name': 'Tesla', 'color': 'white', 'category': 'electric'}

In [53]:
for k, v in car.items():
    print(f"Key = {k} and Value = {v}")

Key = name and Value = Tesla
Key = color and Value = white
Key = category and Value = electric

# .pop()

In [55]:
car.pop('category')

'electric'

In [56]:
car

{'name': 'Tesla', 'color': 'white'}

# Dictionary Comprehension

In [58]:
data = {'one': 1, 'two': 2, 'three': 3}

In [59]:
data

{'one': 1, 'two': 2, 'three': 3}

In [88]:
data = {val: key for key, val in data.items()}

In [89]:
data

{1: 'one', 2: 'two', 3: 'three'}

# nested dictionary

In [80]:
child = {
    'child1': {'name': 'hari', 'age': 15, 'gender': 'M'},
    'child2': {'name': 'Ram', 'age': 19, 'student': True, 'gender': 'M'}
}

In [81]:
child

{'child1': {'name': 'hari', 'age': 15, 'gender': 'M'},
 'child2': {'name': 'Ram', 'age': 19, 'student': True, 'gender': 'M'}}

In [82]:
child['child2']

{'name': 'Ram', 'age': 19, 'student': True, 'gender': 'M'}

In [83]:
child['child2']['name']

'Ram'

In [84]:
child.get('child2').get('name')

'Ram'

In [85]:
child['child2']['student']

True